#### Any version change made here should also be made and tested for the enrichment and function apps in /functions and /app/enrichment

azure-identity==1.12.0
Flask==2.3.2
langchain>=0.0.157
azure-mgmt-cognitiveservices==13.5.0
openai==0.27.0
azure-search-documents==11.4.0b11
azure-cosmos == 4.3.1
tiktoken == 0.4.0
azure-cognitiveservices-speech==1.33.0
azure-storage-blob==12.20.0
pydub==0.25.1
playsound==1.3.0
sounddevice==0.4.7